.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .title {
        display: flex;
        align-items: center;
        gap: 2rem;

    }

    .example {}

    .recordingContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .btns {
            display: flex;
            justify-content: center;
            gap: 2rem;
        }
    }


    .btn {
        padding: .5rem 1rem;
        outline: none;
        border: none;
        border-radius: 1rem;
        height: 50px;
        font-size: 1.2rem;
        cursor: pointer;

        &:not(.back) {
            width: 80%;

            background-color: rgb(234, 249, 255);

            &:hover {
                background-color: rgb(216, 244, 255);
            }

            &:active {
                background-color: rgb(176, 233, 255);
            }
        }

        &.back {
            background-color: rgb(255, 242, 234);

            &:hover {
                background-color: rgb(248, 222, 206);
            }

            &:active {
                background-color: rgb(253, 219, 198);
            }
        }
    }
}